# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Logs and debug files
*.log
*.out
*.err
logs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# IDE specific files
.vscode/
.idea/
*.swp

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Coverage reports
.coverage
*.cover
coverage.xml
*.lcov

# Environments
.env
.env.*